@charset "utf-8";
@import "normalize";

body {
  background: #F3F8FE;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}


.c-frontpage {
  header {
    background-color: #2B7FF2;
    height: 90vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      padding: 3rem 0;
    }
  }

  button {
    margin: 1rem 8rem;
    border: 1px solid white;
    background: #2B7FF2;
    border-radius: .3rem;
    transition: all, .5s, ease;
    width: 10em;
    height: 2em;
  }

  button:hover{
    background-color: #fff;
    color: #2B7FF2;
  }
}

footer {
  display: flex;
  justify-content: space-between;
}
