---
blog: main
---
<div class="c-section">
<h2>About Nick Benoit</h2>
<p>    Nick is a sophomore at Utah State in the Computer Science department. Nick is    the proud caretaker of a thriving sourdough start, a stark proponent of writing    about one's self in the third person, and likes to divide    his time evenly between writing code in a dark cave-like lair and outside enjoying    the fresh air and sunshine.​ Nick has always been interested in math, science,    and technology in nearly every domain, and is alwasys striving to learn just a    bit more about the world around him.  </p>
<h3>Involvement</h3>
<ul>
  <li>Software Team Lead, Utah State Get Away Special Team (space research team)</li>
  <p>        Utah State University has launched more student projects into space than any other        university in the world, and the Get Away Special team is largely responsible for this.      </p>
  <li>Volunteer Group Leader, Cache Makers (childrens STEM program)</li>
  <p>      Cache Makers is an after school program where kids come to learn about science,      technology, engineering, and mathematics. Nick is in charge of the Cache Makers      Coding Club providing computer science related educational opportunities to the      youth of Cache Valley.    </p>
</ul>
<h3>Interests</h3>
<ul>
  <li>Skiing</li>
  <p>    Nick is an avid backcountry skier, and tries his best    to get out for a ski a few times a week when possible.    </p>
  <li>Mathematics and Statistics</li>
  <p>
    Nick has always been interested in describing the wider world with numbers. This has driven
    him to seek a minor in mathematics from Utah State University, as well as spend far too many
    hours playing with numbers.
  </p>
  <li>Backpacking</li>
  <p>
    Nick spends nearly all of his time with a backpack, toting either a laptop and lunch, or a
    backpack filled with food, a tent, sleeping bag, and other essentials.
  </p>
</ul>
</div>
