---
blog: main
---
<h3>Contact Nick Benoit</h3>
<label for="email">Email</label>
<input type="text" name="email" value="your@email.com">
<label for="message">Message</label>
<input type="text" name="message" value="">
