---
blog: blog
---
<div>
  <h4>Who is Nick Benoit?</h4>
  <p>
    Nick is a freshman at Utah State in the Computer Science department. Nick is
 the proud caretaker of a thriving sourdough start, and likes to spend to divide
  his time evenly between writing code in a dark cave-like lair and outside enjoying
   the fresh air and sunshine. Nick works primarily with software and programming
    related groups, and loves to teach others how to communicate with our
     computerized electronic friends. ​
  </p>
</div>
